.CategoriesManager__Dialog {
  width: 400px;

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .CategoriesManager__List {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .Category {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.1rem;

      &.isDragging {
        background-color: rgba(255, 255, 255, 0.08);
      }

      & label {
        display: none;
      }

      & span {
        padding-inline-start: 0.5rem;
      }

      & span,
      & .textInputFieldWrapper {
        flex-grow: 1;
        align-self: center;
      }

      & button {
        opacity: 0.5;
      }

      & .Category__dragHandle {
        cursor: grab;
      }

      & .Category__dragHandle:active {
        cursor: grabbing;
      }

      &:hover,
      &:focus-within {
        background-color: rgba(255, 255, 255, 0.05);

        & button {
          opacity: 1;
        }
      }
    }

    & hr {
      width: 100%;
    }

    .textInputFieldWrapper {
      display: flex;
      gap: 0.5rem;
    }
  }
}
